/* Header */
.logo {
    height: 50px;
    /* Adjust the height as needed */
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav:last-child {
    margin-left: auto;
}

.navbar-nav:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
    /* Adjust the spacing as needed */
}

@media (max-width: 767.98px) {
    .navbar-nav {
        flex-direction: column;
    }
}

/* End Header */
/* Footer Css */
footer {
    background: linear-gradient(to top, #8a1a9b, #ce009f);
}

footer {
    color: white;
}

footer a {
    color: white;
}

footer p,
footer ul {
    margin-bottom: 0;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer form input::placeholder {
    text-align: center;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer__legal {
    justify-content: flex-start;
}

footer .footer__legal--links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer__legal a::after {
    content: '';
}

@media screen and(min-width: 576px) {
    footer .footer__legal a::after {
        content: '|';
    }
}

footer .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* End Footer */
/* Full width image */
.full-width-image {
    width: 100%;
    overflow: hidden;
}

.full-width-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* End full width image */
/* Base css */
button.btn {
    background-color: #8a1a9b;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
    font-family: 'Apertura';
    font-weight: bold;
}

h2 {
    font-size: 60px;
    font-family: 'Apertura';
    font-weight: bold;
}

h3 {
    font-size: 35px;
    font-family: 'Apertura';
    font-weight: normal;
}

h4 {
    font-size: 24px;
    font-family: 'Apertura';
    font-weight: bold;
}

p {
    font-size: 22px;
    font-family: 'Apertura';
    font-weight: normal;
}

/* End Base css */